language: node_js
node_js:
- '8'
sudo: false
branches:
  only:
  - master
os:
- linux
install:
- yarn install
- yarn build
script:
- yarn test --silent
deploy:
  provider: npm
  email: dev@xcomponent.com
  api_key:
    secure: EO9OP5OMhrER1hV9kcfz5SM+b1l/NXOo18EfxLaCxK2tQ4rDMODkhonyaO/ULxvPgOD1F1dHYKLGnjC03Xhxyh+aHUG/nl5AoxL9zMiieVy4TXI+Lu3jnRBnCnFJfKKRyB4fd8jjHYVxdI4NQV97jrWQ+aXiSo5fJFZe0A27iKXUoKeqo+T3pTvKzFPzqj0Lsr4g7KRw0FBuEnxq6ZTtcREWSxz6UUjw8u+CnDkGFb3Ol4U9RQO1DFPVQl0eAnLeTdfcVeHy6HYu6NTqQpmDhetj8L6QfO5w/FMFUr4YindLN012748u79IYzvb400HrhyZQd5RRc8WklT0kJ2hFtvbBtO5h698PG+x+GA0Tlkls194nH6Ogm8OyKQx9J+MUNUfpSFYpABfbrp+JMAXTGrU1+PhvLy5RT3vPufqgTypG4P0R73DC2UP4n0/38uqVVVyu6TB7b2KIUWfPFFcEW4eaTZJnN7EDnI3FVfIesgvHrgw+LZ7bT+LRwm1F7b2tdCCNTABtR9QlLsGjLoPXseBIpBfEwxh4j5OlUldgreJKR/mGULdq2ZEbyDK864d1GgDhjrtC4AiN0B0KKAt6xQdaN3NAGIuqiF+rZ3PScRHUePca1qBXDQHw0fcM4TrynYHqmMMm9yDigDqXb9ojXofXnhta94aowzxrAURoJn0=
  on:
    branch: master
    condition: ! -z `git tag -l --points-at HEAD`
notifications:
  slack:
    secure: WL4G9ndyWEvkZl5njQF8gReRsbczVPEFI0KjNv4Z51iKoOb2M+VHsO75TRf1luBbG9c8971aV15uLIyMzzheOVtMCkeezarnu/YjdOizSBO4AtQooAar2rmcVD6yVuSESDuxv+faI7Y/NM6ORMnd3eul96yJNyS9mtsYblr898ZwN1eFJrYeYFWiObZWHKZjSx6CCRewqwNlHwfR8sG+gn+0XjvN7h4YK5re978fRVp6lWZ9E9PFy0NXuPUB1YrlQBrBqRAqj6gV28AUbAbTFYrQwmf4ygLgCUgxoW4JHfHqJvTVXYtcGXa/WtrwtApvpMKGE2WAmNl5jvRaBtMxfJH4zR/6UoNO9N8oNlqic2YpT4XdpYjOM2ne2IuE1ES/auKfkk/jU9XLQ82ORl3CeSpGFEfi8jQdp1MljmmU3eq42XWbN2mba+D4VJ/yVBKa1KmQNDkRDAdN01FJawQF1GDv+lQiEaBRjUifATe+9jl/iggWZecHvbz6fzVuETwlxgn68+UqhIdmC0ggOvuSjelKa0RJ8+b+JubJnWZfLK21ZHhOunaAGRv4FBTBLmjOlL4kSS+K2L1Bq6y19R7EC9ubPv6owK37Z2Q5qMWkHyqZ+iep3dPnRhgjKnJ8tfxAkknbpczJwKnyziJ5MzJT5FqPdjSp8SfI8B4zB0tbfBY=
